## 서울시 자율주행 차량 속도 및 위치 분석

### 1. 패키지 추가

In [3]:
import pandas as pd
import glob
import os

### 2. csv 파일 로드

In [59]:
path = "/home/ubuntu/work/data/car_info"
full_path = os.path.join(path + "/*.csv")
all_files = glob.glob(full_path)

data_list = [pd.read_csv(file, index_col=None, header=0) for file in all_files]
data_frame = pd.concat(data_list, axis=0, ignore_index=True)

### 3. 분석

#### 3.1 전체 평균 속도

In [61]:
df = pd.DataFrame(data_frame.groupby("vhcleTypeCd")["vhcleSped"].mean())

df_renamed = df.rename(
    index = {
        9217: "기타",
        9228: "버스"
    }
)
df_renamed.columns = ["평균 속도"]

In [49]:
df_renamed.sort_values("평균 속도", axis=0, ascending=False)

                 평균 속도
vhcleTypeCd
버스           10.676145
기타            0.000000

#### 3.2 전체 최대 속도

In [66]:
df = pd.DataFrame(data_frame.groupby("vhcleTypeCd")["vhcleSped"].max())

df_renamed = df.rename(
    index = {
        9217: "기타",
        9228: "버스"
    }
)
df_renamed.columns = ["최대 속도"]

In [67]:
df_renamed.sort_values("최대 속도", axis=0, ascending=False)

             최대 속도
vhcleTypeCd
버스           254.0
기타             0.0

### 3.2 수집 차량 수

In [90]:
total_count_data = data_frame.groupby("addr").count()
total_count_data["addr"] = total_count_data.index.tolist()
total_count_data = total_count_data.loc[:, ["vhcleTypeCd"]]
total_count_data = total_count_data.sort_values(by=['vhcleTypeCd'], axis=0, ascending=False)

In [91]:
total_count_data.columns = ["차량 대수"]

In [92]:
total_count_data.index.name = "행정구"

In [95]:
total_count_data.head(8)

      차량 대수
행정구
종로구    2366
서대문구   1874
마포구    1823
은평구    1710
중구     1552
서초구    1551
성북구    1325
강남구    1294